{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="page container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-6 col-lg-5">
                <div class="bg-light rounded-4 p-5">
                    <h3 class="text-center mb-5 green-text">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="form-group mb-3">
                                    <label class="green-text mb-1" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field|add_class:'form-control rounded-2 yellow-input' }}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                    {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="text-center mt-4">
                                <input class="btn rounded-4 yellow-btn " type="submit" name="action" value="{% trans 'Change Password' %}"/>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
